<!-- discotecas/templates/discotecas/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Discotecas{% endblock %}</title>
    <!-- Indicamos que es un archivo static -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}

    {% load static %}
    <script src="{% static 'js/popup.js' %}"></script>
</body>
</html>
